body, html {
    background-color: blue;  
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    justify-items: center;
    grid-template-rows: auto;
    display: grid;
}

canvas {
  width: 65vw; 
  height: 65vh;   
}